* {
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
.container {
    max-width: 1140px;
    width: 90%;
    margin: auto;
}
.logo-link {
    display: inline-block;
    margin-right: 30px;
}
.header {
    display: flex;
    align-items: center;
    padding-top: 30px;
}
.nav-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.nav-menu-item {
    margin-right: 30px;
}
.nav-menu-link {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
}
.hover:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -8px;
    left: 0;
    background-color: #7EA629;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
}
.hover:hover:after {
transform-origin: bottom left;
color: #7EA629 !important;
transform: scaleX(1);
}
.main {
    background: url('../img/hero-image.svg') no-repeat top right;
    background-size: 50%;
    width: 100%;
}
.hero {
    height: 100vh;
    position: relative;
}
.hero-logo {
    position: absolute;
    bottom: 15%;
    max-width: 728px;
    width: 100%;
    z-index: 2;
}
.about {
    height: 500px;
}
.about-content {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.about-image {
    margin: 100px 0;
    width: 100%;
}

.title {
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
    color: #4F7302;
}
.sub-title {
    font-size: 18px;
    font-weight: 700;
}
i {
    font-weight: 500;
}

@media (max-width: 480px) {
    .main {
        background: url(../img/hero-image.svg) no-repeat top right 130%;
        background-size: 130%;
    }
    .about-content {
        flex-direction: column;
        align-items: flex-start;
    }
    .header {
        display: none;
    }
    .about-image {
        margin: 50px 0;
        width: 70%;
    }
    .title {
        font-size: 22px;
    }
    .sub-title {
        font-size: 16px;
    }
    p {
        font-size: 14px;
    }
}