* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
body::-webkit-scrollbar-track {
    background-color: #d9d9d9;
}
body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-thumb {
    background-color: #4f7302;
    border-radius: 15px;
}
.container {
    max-width: 1140px;
    width: 90%;
    margin: auto;
}
.logo-link {
    display: inline-block;
    margin-right: 30px;
}
.header {
    display: flex;
    align-items: center;
    padding-top: 30px;
    transition: transform 0.3s;
}
.header-fixed {
    position: fixed;
    height: 60px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fixedMenu 0.5s forwards;
    background-color: white;
    z-index: 10;
    padding-top: unset;
    transition: transform 0.3s;
    box-shadow: 0px -10px 70px -10px #ddd;
}

@keyframes fixedMenu {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
    
}
.nav-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.nav-menu-item {
    margin-right: 30px;
}
.nav-menu-link {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
}
.hover:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -8px;
    left: 0;
    background-color: #7EA629;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
}
.hover:hover:after {
    transform-origin: bottom left;
    color: #7EA629 !important;
    transform: scaleX(1);
}
.link-active {
    font-weight: 700;
    color: #7ea629 !important;
}
section {
    padding: 15% 0;
}
.hero {
    background: url('../img/hero-image.svg') no-repeat top right;
    background-size: 50%;
    width: 100%;
    height: 100vh;
    position: relative;
}
.grayBG {
    background-color: #F2F2F2;
}

.hero-logo {
    position: absolute;
    bottom: 15%;
    max-width: 728px;
    width:90%;
    z-index: 2;
}
.about-content {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.about-image {
    width: 35%;
    margin-bottom: 0;
}
.title {
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
    color: #4F7302;
}
.subtitle {
    font-size: 18px;
    font-weight: 700;
}
i {
    font-weight: 500;
}
.set-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.set-item {
    background-color: white;
    height: 180px;
    width: 360px;
    border-radius: 30px;
    flex-basis: 32%;
    display: flex;
    padding: 30px;
    transition: all 0.4s ease-out;
    margin: 10px 0;
    align-items: center;
}
.set-item:hover {
    box-shadow: 0px 0 40px 10px #0000000d;
    transition: all 0.4s ease-out;
}

.set-item-image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 30px;
}
.set-item-image img {
    transition: all 0.4s ease-out;

    transform: rotate(15deg);
}

.set-item:hover .set-item-image img {
    transform: rotate(0deg);
    transition: all 0.4s ease-out;
    transform: scale(1.2);

}
.set-item-text {
    font-size: 14px;
}
.section-heading {
    text-align: center;
    max-width: 800px;
    margin: 0 auto 5%;
}
.faqs {
    max-width: 800px;
    width: 90%;
}
.faq {
    cursor: pointer;
    margin: 0 auto;
    overflow: visible;
}
.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.question:hover h3 {
    color: #7ea629 !important;
}
.answer {
    line-height: 1.6;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}
.faq.active .answer {
    max-height: 3000px;
}

.faq.active svg {
    transform: rotate(180deg);
}

svg {
    transition: transform 0.5s ease-in;
}

.divider {
    background-color: #efefef;
    height: 5px;
    width: 100%;
    border-radius: 5px;
    margin: 20px 0;
}
.media {
    margin: 30px auto;
}
.video {
    max-width: 100%;
    background-color: blueviolet;
    padding-top: 56.25%;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}
.video iframe {
    position: absolute;
    top: 0; 
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}
.photo {
    transition: 0.2s ease-in;
    max-width: 400px;
    width: 100%;
    margin: 50px auto;
    display: flex;
    border: 3px solid #fff;
    border-radius: 15px;
    -webkit-box-shadow: 0px 5px 31px -13px rgb(34 60 80 / 20%);
    -moz-box-shadow: 0px 5px 31px -13px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 31px -13px rgb(34 60 80 / 20%);
    transition: 0.5s ease-in;
}
.photo:hover {
    transition: 0.2s ease-in;
    transform: scale(1.2);
} 
.menu-button {
    display: none;
}
.menu-close {
    display: none;
}
.menu-image {
    display: none;
}
.contacts {
    text-decoration: none;
    color: white;
    background-color: #7ea629;
    padding: 10px 20px;
    border-radius: 30px;
    transition: 0.2s ease-in;
}
.contacts:hover {
    background-color: #4f7302;
    transition: 0.2s ease-in;
}
.energy {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: raw;
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
}
.energy img {
    margin: 30px;
}
.footer {
    padding: 50px 0;
    background-color: #273901;
}
.footer-text {
    color: white;
    text-align: center;
    opacity: 0.5;
    width: 80%;
    margin: auto;
}
.footer-contacts {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
.footer-contacts a {
    text-decoration: none;
    color: white;
}

/* TOP */
.top-second-open  {
    transform: translateY(0px) !important;
    transition: 0.5s;
}

.top-second {
    right: 20px;
    position: fixed;
    bottom: 20px;
    transform: translateY(95px);
    width: 46px;
    height: 46px;
    margin-left: -23px;
    background: #4f7302;
    border-radius: 100%;
    box-sizing: border-box;
    z-index: 3;
    transition: 0.5s;
}
.top-second::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";
    width: 16px;
    height: 16px;
    margin: -3px 0 0 -8px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    box-sizing: border-box;
}
.top-second::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: "";
    width: 46px;
    height: 46px;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: sdb03 3s infinite;
    animation: sdb03 3s infinite;
    box-sizing: border-box;
  }
@-webkit-keyframes sdb03 {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.3);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes sdb03 {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.3);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@media (max-width: 1024px) {
    .hero {
        background: url(../img/hero-image.svg) no-repeat top right;
        background-size: 80%;
    }
    .header-fixed {
        display: none;
    }
    .about-image {
        width: 30%;
    }
    .set-item {
        flex-basis: 48%;
    }
    .title {
        font-size: 22px;
    }
    .subtitle {
        font-size: 16px;
    }
    .hero-logo {
        bottom: 10%;
        width: 50%;
    }
    .nav {
        margin-left: auto;
    }
    .logo-link {
        display: none;
    }
    .nav-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 9;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 0.2s ease-in-out;
    }
    .nav-menu-item {
        margin: 2% 0;
    }
    .nav-menu-link {
        font-size: 20px;
    }
    .menu-button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border: none;
        background-color: #fff;
        cursor: pointer;
        margin-left: auto;
        border-radius: 5px;
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 9;
    }
    .menu-close {
        position: fixed;
        top: 20px;
        right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border: none;
        background-color: #fff;
        cursor: pointer;
        margin-left: auto;
        z-index: 10;
        transform: translateX(300%);
        transition: transform 0.4s ease-in-out;
    }
    .is-active {
        transform: translateX(0);
    }
    .nav-contacts {
        margin-top: 20px;
    }

}


@media (max-width: 1024px) {
    .hero {
        background: url(../img/hero-image.svg) no-repeat top right;
        background-size: 50%;
    }
}


@media (max-width: 768px) {
    .hero {
        background: url(../img/hero-image.svg) no-repeat top right;
        background-size: 90%;
    }
    .about-image {
        width: 35%;
    }
    .title {
        font-size: 22px;
    }
    .subtitle {
        font-size: 16px;
    }
    p {
        font-size: 14px;
    }
    .hero-logo {
        bottom: 10%;
    }
}
@media (max-width: 736px) {
    .hero {
        background: url(../img/hero-image.svg) no-repeat top right;
        background-size: 50%;
    }
}

@media (max-width: 480px) {
    .hero {
        background: url(../img/hero-image.svg) no-repeat top right 130%;
        background-size: 130%;
    }
    .about-content {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav {
        margin-left: auto;
    }
    .section-heading {
        text-align: left;
    }

    .about-image {
        width: 50%;
        margin-bottom: 50px;
    }
    .title {
        font-size: 22px;
    }
    p {
        font-size: 14px;
    }
    .hero-logo {
        bottom: 15%;
        width: 90%;
    }
    .set-item {
        flex-basis: 100%;
    }
    .energy {
        flex-direction: column;
    }
    .footer-text {
        width: 100%;
    }
    .footer-contacts {
        flex-direction: column;
    }
}